@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-background {
    background-image: url('/images/Hero_background.webp');
    background-size: cover;
    background-position: center;
}

@keyframes blinkingColors {
    0% {
        color: #FF0000;
    }
    25% {
        color: #00FF00;
    }
    50% {
        color: #0000FF;
    }
    75% {
        color: #FFFF00;
    }
    100% {
        color: #FF00FF;
    }
}

.blinking-color-text {
    animation: blinkingColors 2s infinite;
}